<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   Copyright 1999-2004 The Apache Software Foundation
 -->

<!-- web-app element was originally found empty - the following are additions 
      for the demonstration of HTTPGetServlet -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">
  <servlet> <!-- the following name will refer to the sepecified class -->
     <servlet-name>form_A</servlet-name>
     <servlet-class>form_A</servlet-class>
  </servlet>    
  <servlet> <!-- the following name will refer to the sepecified class -->
     <servlet-name>form_B</servlet-name>
     <servlet-class>form_B</servlet-class>
  </servlet>   
  <servlet> <!-- the following name will refer to the sepecified class -->
     <servlet-name>form_C</servlet-name>
     <servlet-class>form_C</servlet-class>
  </servlet> 
   <servlet-mapping><!-- the following (same) name will called as the specified url patttern
                                    so hitting http://localhost:8080/myAskisisDir/form_A/* (any thing) 
                                    will lead  to form_A    -->
     <servlet-name>form_A</servlet-name>
     <url-pattern>/form_A/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping><!-- the following (same) name will called as the specified url patttern 
                                    so hitting http://localhost:8080/myAskisisDir/form_B/* (any thing) 
                                    will lead  to form_B  -->
     <servlet-name>form_B</servlet-name>
     <url-pattern>/form_B/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping><!-- the following (same) name will called as the specified url patttern 
                                    so hitting http://localhost:8080/myAskisisDir/form_C/* (any thing) 
                                    will lead  to form_C  -->
     <servlet-name>form_C</servlet-name>
     <url-pattern>/form_C/*</url-pattern>
     </servlet-mapping>
</web-app>
